server {
    listen 80;
    server_name 16.171.43.56;  
    location / {
        proxy_pass http://localhost:8080;  
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
    }

    # Optional: Handle the health check
    location /login {
        proxy_pass http://localhost:8080;
}
    }